body {
    text-align: center;
    /* background-image: url("../images/background.jpeg"); */
    background-image: url("../images/whirlpool.png");
    background-color: black;
    /* color: white; */
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
}

p {
    opacity: 0.75;    
    border: 1px solid white;
    font-size: 20px;
}

.jumbotron {
    background: black;
    color: white;
    padding: 5%;
}

.topic-btn, #add-topic, #user-input {
    background-color: black;
    opacity: 0.8;
    color: white;
    margin: 10px;
    font-size: 20px;
    border: solid white;
    border-radius: 0.5rem;
    border-style: inset;
}

.gifs {
    background: black;
    color: white;
    float:left;
    align-items: center;
    max-height: 350px;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    overflow-wrap: normal;
    border-radius: 0.5rem;
}


footer {
    position: fixed;
    bottom:0;
    right: 0;
    opacity: 0.5;
}

.giphyImage,{
    border: solid white;
}

